* {
	font-family: "Share Tech Mono", monospace;
	color: #474844;	
}


a {
	text-decoration: none;	
}


.bar {
	background-color: #CF1E1E;
	padding: 20px;
}

.back_button:hover,
.back_button {
	text-align: left;
	padding-right: 80px;
	color: #FFFF;	
	margin: 0 auto;
	font-size: 20px;
}

.setup_button:hover,
.setup_button {
	text-align: left;
	padding-right: 80px;
	color: #FFFF;	
	margin: 0 auto;
	font-size: 20px;
}



header {
	background-color: #CF1E1E; 
	color: white;
	padding-bottom: 40px;
	padding-top: 15px;
	padding-left: 0;
	font-size: 200%;
	text-align: center;
}

.btn {
	padding: 15px;
	margin: 10px;
}

.main {
	padding-left: 50px;
	padding-top: 20px;
}

.todo_form {
	padding: 20px;	
	align-items: center;
}

.labels {
	padding: 20px;
}

.list {
	padding-top: 30px;
	text-align: center;
	font-size: 40px;
}

